@model Employee_Registration

<form method ="post">
    @*<input type="hidden" name="Name" value="@ViewBag.states" />*@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class ="text-primary">Create Category</h2>
            <hr/>
        </div>
        @*<div asp-validation-summary=All></div>*@
       @* <div class="mb-3">
            <label asp-for="Employee_ID"></label>
            <input asp-for="Employee_ID" class="form-control"/>
            <span asp-validation-for="Employee_ID" class="text-danger"></span> 
        </div>*@
        <div class="mb-3">
            <label asp-for="Employee_Name"></label>
            <input asp-for="Employee_Name" class="form-control"/>
            <span asp-validation-for="Employee_Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Employee_Dob"></label>
            <input asp-for="Employee_Dob" class="form-control"/>
            <span asp-validation-for="Employee_Dob" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Gender"></label>
           @* <input asp-for="Gender" class="form-control"/>*@
            Male:   @Html.RadioButton("Gender","Male")
            Female: @Html.RadioButton("Gender","Female")
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address"></label>
            <textarea asp-for="Address" class="form-control"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="State"></label>
            <select asp-for="State"  class="form-control" asp-items="ViewBag.StateDropDown">
           <option value="Name">select state</option>
           </select>
         
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Hobbies"></label>
           @* <input asp-for="Hobbies" class="form-control"/>*@
           Sports: @Html.RadioButton("Hobbies","Sports")  
           Music: @Html.RadioButton("Hobbies","Music") 
           Cooking: @Html.RadioButton("Hobbies","Cooking")
           Reading: @Html.RadioButton("Hobbies","Reading")
           Writing: @Html.RadioButton("Hobbies","Writing")
           Photography: @Html.RadioButton("Hobbies","Photography")
            <span asp-validation-for="Hobbies" class="text-danger"></span>
        </div>
       
        <button type="submit" class="btn btn-primary" style="width:150px"> Create</button>
        <a asp-controller="Employee_Registration" asp-action="Index" class="btn btn-primary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

